<div class="banner" style="background-image: url('<%= image_path 'Fond_ville2.png' %>');">
  <div class="banner-content">



    <h1>Découvre les multiples<br> visages de Montréal!</h1>
    <div class="inscription">
    <a href="http://www.iciela.org/wp/mtl-a-notreimage/" class="navbar-wagon-item navbar-wagon-button btn inscription">INSCRIS-TOI!</a>
    </div>
    <h3>Camp de jour interculturel<br> pour les 12-17 ans<br>-<br>7 au 18 août 2017</h3>
  </div>
</div>




