<footer class="page-footer">
  <div class="row">
    <div class="col-sx-12 col-sm-6 col-lg-6 col-xl-6 disclaimer">
      <h5 class="white-text"><strong>Une initiative de Iciéla</strong></h5>
      <p class="grey-text text-lighten-4">Iciéla est un organisme à but non lucratif dont la mission est de favoriser l'engagement citoyen, particulièrement celui des jeunes, dans le but de promouvoir le dialogue interculturel afin de contribuer à bâtir une société plus inclusive, solidaire et pacifique.</p>
    </div>
    <!--
    <div class="col-sx-12 col-sm-6 col-lg-6 col-xl-6  find-us">
      <h5 class="follow-text"><strong>Avec le soutien de:</strong></h5>
      <ul class="social-logo-footer">

        <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
        <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
        <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
        <li><i class="fa fa-pinterest-p" aria-hidden="true"></i>
        </li>
      </ul>
    </div>-->
  </div>
  <div class="footer-copyright">
    <!-- <div class="container"> -->
      © 2017 Iciéla
      <a class="grey-text text-lighten-4 right" href="#!"></a>
    <!-- </div> -->
  </div>
</footer>
