<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">À propos de Iciéla</h5>
        <p class="grey-text text-lighten-4">Iciéla est un organisme à but non lucratif dont la mission est de favoriser l'engagement citoyen, particulièrement celui des jeunes, dans le but de promouvoir le dialogue interculturel afin de contribuer à bâtir une société plus inclusive, solidaire et pacifique.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Iciéla
      <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>
