<div class="navbar-wagon">
  <!-- Logo -->
<%= link_to root_path, class: "navbar-wagon-brand" do %>

  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Text link -->
    <!-- <a data-toggle="modal" data-target="#parents" class="navbar-wagon-item navbar-wagon-link">PARENTS</a> -->

    <!-- Text link -->
    <!-- a href="http://www.iciela.org/wp/benevoles/" class="navbar-wagon-item navbar-wagon-link">BÉNÉVOLES</a>

    <!-- Text link -->
    <!-- <a data-toggle="modal" data-target="#partenaires" class="navbar-wagon-item navbar-wagon-link">PARTENAIRES</a>

    <!-- Text link -->
    <!-- <a data-toggle="modal" data-target="#english" class="navbar-wagon-item navbar-wagon-link">ENGLISH</a>

    <!-- Button (call-to-action) -->
    <a href="http://eepurl.com/Vyyrf" class="navbar-wagon-item navbar-wagon-button">INSCRIVEZ-VOUS À NOTRE LISTE D'ENVOI</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <!--
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Inscription</a></li>
        <li><a href="#">Parents</a></li>
        <li><a href="#">Bénévoles</a></li>
        <li><a href="#">Partenaires</a></li>
      </ul>
    </div>
  </div>
    -->
</div>

