<section >
<div id="home-page">
  <%= render 'shared/banner' %>
</div>
</section>

<section class="section1">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fa fa-map-o" aria-hidden="true"></i>
        <h3><strong>Des rencontres exceptionnelles</strong></h3>
        <p>Parcours la ville à la rencontre de communautés culturelles différentes en vivant des moments uniques et amusants d'échange et de partage.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        <h3><strong>Un film dont tu seras la vedette</strong></h3>
        <p>Une équipe de tournage suivra les activités afin de capter à la caméra les meilleurs moments des rencontres et produire un film dont tu feras partie.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <h3><strong>Partage avec le grand public</strong></h3>
        <p>Des projections publiques du film seront organisées cet automne, et tu pourrais avoir la chance de partager ton expérience devant public.</p>
      </div>
    </div>
  </div>
</div>
</section>

<section >

  <div class="howitwork" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.5) 20%,rgba(246,239,248,0.5) 23%,rgba(152,83,179,0.6) 53%,rgba(150,88,181,0.4) 54%,rgba(86,229,235,0.4) 81%,rgba(74,255,245,0.2) 86%,rgba(255,255,255,0.8) 100%,rgba(255,255,255,0.9) 101%), url('<%= image_path 'groupe_mains.png' %>');">
    <div class = "home-stats">
      <h2>Joins-toi à l'équipe de jeunes explorateurs <br>qui vont parcourir Montréal cet été<h2>
    <a href="http://www.iciela.org/wp/mtl-a-notreimage/" class="banner-wagon-item banner-wagon-button inscription">INSCRIS-TOI DÈS MAINTENANT!</a><br><br>
<h3>C'est gratuit mais les places sont limitées!<h3>
  </div>
    </div>
  </div>
</section>

<section class="section4">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <div class="description-2-centre">
            <h3>Quelques exemples d'activités:</h3>
          </div>
      </div>
    </div>
    <div align="center">
      <div class="row">
        <div class="col-xs-12">
          <div class="description-2">
            <h4>Danse et percussions brésiliennes</h4>
            <p>Saudosa Maloca Montréal est un espace unique pour connaître et plonger dans l'univers artistique et culturel brésilien à Montréal! Marcos de Oliveira, danseur-chorégraphe et médiateur culturel, ouvre les portes de sa maison-atelier avec cette proposition : favoriser la rencontre et les échanges entre artistes, artisans brésiliens et le public montréalais.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="description-2">
            <h4>Diner partagé d'Asie du Sud-Est</h4>
            <p>Le centre communautaire des femmes Sud-asiatiques (SAWCC) nous invite dans leurs locaux pour dîner avec des femmes venant de divers pays de l’Asie du Sud tel que le Pakistan, le Bangladesh et l’Inde, afin d'échanger entre autres sur la vie des femmes immigrés à Montréal.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="description-2">
            <h4>Méditation et boudhisme tibétain</h4>
            <p>Le Centre Paramita nous invite à un atelier de partage et d'expérimentation de la méditation et des valeurs véhiculées par la philosophie bouddhiste tibétaine, présentant les sources du bouddhisme et son origine, le message véhiculé par le Bouddha et les valeurs de cette philosophie et psychologie qu'il a enseignées.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--

<div class="modal fade" id="benevoles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Nous sommes à la recherche de bénévoles</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="parents" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte pour les parents</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="partenaires" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte pour les partenaires</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="english" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte en anglais</div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103444020-1', 'auto');
  ga('send', 'pageview');

</script>

