<%= video_tag "island.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>

<div id="home-page">
  <%= render 'shared/banner' %>


  <!--  sort list of products -->


  <!--  How it work -->



  <!--  Image comminuty -->


  <!-- Section become a seller -->
</div>


