      <section >

<div id="home-page">
  <%= render 'shared/banner' %>
</div>
</section>

<section class="section1">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fa fa-map-o" aria-hidden="true"></i>
        <h3><strong>Des visites exceptionnelles</strong></h3>
        <p>Parcours la ville à la rencontre de communautés culturelles différentes en vivant des moments uniques et amusants d'échange et de partage.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        <h3><strong>Un film dont tu seras la vedette</strong></h3>
        <p>Une équipe de tournage suivra les activités afin de capter à la caméra les meilleurs moments des rencontres et produire un film dont tu feras partie.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <h3><strong>Partage avec le grand public</strong></h3>
        <p>Des projections publiques du film seront organisées cet automne, et tu pourrais avoir la chance de partager ton expérience devant public.</p>
      </div>
    </div>
  </div>
</div>
</section>
<!--
<section class="section3" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.5) 20%,rgba(246,239,248,0.5) 23%,rgba(152,83,179,0.6) 53%,rgba(150,88,181,0.4) 54%,rgba(86,229,235,0.4) 81%,rgba(74,255,245,0.2) 86%,rgba(255,255,255,0.8) 100%,rgba(255,255,255,0.9) 101%), url('<= image_path 'groupe_mains.png' %>');">
  <div class="container" style="vertical-align: middle">
    <div class="howitwork">
      <div align="center">
         <h2>Joins-toi à l'équipe de jeunes explorateurs qui vont parcourir Montréal cet été<h2>
         <!--<a class="banner-wagon-item banner-wagon-button inscription">COMPLET  :-(</a>
         <h3>C'est gratuit mais les places sont limitées!<h3>
      </div>
    </div>
  </div>
</section>
-->
<section class="section4">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="description-2-centre">
          <h3><strong>Première étape: l'exploration</strong><br>10 jours: 7 au 18 août</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-12">
              <div class="description-2">
                <h3>Des moments de rencontre originaux:</h3>
              </div>
          </div>
        </div>
        <div align="center">
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Danse et percussions brésiliennes</h4>
                <p>Saudosa Maloca Montréal est un espace unique pour connaître et plonger dans l'univers artistique et culturel brésilien à Montréal! Marcos de Oliveira, danseur-chorégraphe et médiateur culturel, ouvre les portes de sa maison-atelier avec cette proposition : favoriser la rencontre et les échanges entre artistes, artisans brésiliens et le public montréalais.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Diner partagé d'Asie du Sud-Est</h4>
                <p>Le centre communautaire des femmes Sud-asiatiques (SAWCC) nous invite dans leurs locaux pour dîner avec des femmes venant de divers pays de l’Asie du Sud tel que le Pakistan, le Bangladesh et l’Inde, afin d'échanger entre autres sur la vie des femmes immigrées à Montréal.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Méditation et boudhisme tibétain</h4>
                <p>Le Centre Paramita nous invite à un atelier de partage et d'expérimentation de la méditation et des valeurs véhiculées par la philosophie bouddhiste tibétaine, présentant les sources du bouddhisme et son origine, le message véhiculé par le Bouddha et les valeurs de cette philosophie et psychologie qu'il a enseignées.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Fenêtre sur la communauté noire</h4>
                <p>Le Centre international de documentation et d'information haïtienne, caribéenne et afro-canadienne (CIDIHCA) nous ouvre ses portes pour nous faire découvrir les cultures caraïbes d’ici et d’ailleurs. Nous visiterons leur centre qui détient une importante collection de livres, de photos et de microfilms sur l’histoire d'Haïti. Activité de création avec l'équipe de l'association Jamaïcaine de Montréal qui a participé au Week-End du Monde.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Rencontre avec les jeunes ambassadeurs de Montréal</h4>
                <p>Nous aurons l’opportunité de nous entretenir avec des ambassadeurs du Forum Jeunesse de l’île de Montréal. Le but étant de partager leur parcours et expériences inspirantes réalisés jusqu’à maintenant avec le FJIM. De plus, cette rencontre portera sur une réflexion approfondie de la diversité culturelle à Montréal.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 container-inm">
        <div class="row">
          <div class="col-xs-12">
              <div class="description-2">
                <h3>Participation au parcours Exploration de <%= image_tag "EE_INM.png", alt:"l'École d'été de l'INM", width:"125px" %></h3>
              </div>
          </div>
        </div>
        <div align="center">
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Visites de quartiers historiques</h4>
                <ul>
                <li>Quartier chinois</li>
                <li>Mile End (communautés juive, grecque, portugaise, italienne)</li>
                <li>Griffintown (communauté irlandaise)</li>
                <li>Espace Ashukan - Vieux-Montréal (Premières nations)</li>
                <li>Participation a un événement de calligraffiti arabe (combinaison de la calligraphie arabe et du graffiti propre à la culture hip-hop) à la Mosquée Al-Omah Al-Islamiah</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Des ateliers inspirants</h4>
                <ul>
                <li><strong>Communiquer avec impact:</strong> Formation en vue des animations des projections publiques avec Dorothy Alexandre, Membre du Conseil des Montréalaises, animatrice, productrice au contenu et coach en communication </li>
                <li><strong>10 ans après la commission Bouchard-Taylor, où en est rendu le Québec ?</strong> Avec Charles Taylor et Rachida Azdouz, coprésident et membre du comité-conseil, les invités tiendront une discussion sur les retombées et les nouveaux enjeux autour du vivre-ensemble. </li>
                <li><strong>Des arts trop blancs ? action-réaction:</strong> Une table-ronde avec des artistes pour réfléchir collectivement sur les actions et stratégies que nous pouvons apporter pour améliorer le manque de diversité culturelle dans le domaine artistique. </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Journée internationale de la jeunesse</h4>
                <p>La Journée internationale de la jeunesse est une initiative de l’Organisation des Nations Unies et est célébrée chaque année depuis 1999 le 12 août. Cette année, une vingtaine d’organisations québécoises oeuvrant auprès des jeunes organise cette journée et propose une série de présentations éclairs de jeunes inspirants, une foire de l'engagement et un spectacle de clôture festif.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section3" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'IMG_7494.jpg' %>');">
  <div class="container" style="vertical-align: middle">
    <div class="howitwork">
      <div align="center">
         <h3><strong>Deuxième étape: le partage</strong><br>Projections publiques durant l'automne
         <br><br>
         Participe à l'animation des projections du film qui sera réalisé durant l'été sur ton expérience devant un public venu pour t'écouter!</h3>
         <div class="video-container"><iframe width="840" height="473" src="https://www.youtube.com/embed/EZGck-jclfQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div><br><br>
      </div>
    </div>
  </div>
</section>

<section class="section1">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="description">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        <h3><strong>Inscrivez-vous à notre liste d'envoi pour recevoir les invitations!</strong></h3>
        <p><a href="http://eepurl.com/Vyyrf" class="banner-wagon-item banner-wagon-button inscription">S'INSCRIRE</a></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="description">
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        <h3><strong>Lancement de la programmation</strong>
        <br>
        3 octobre @ 18h
        <br>
        Restaurant Robin des bois<br>
        4653 St-Laurent, Montréal</h3>
      </div>
    </div>
  </div>
</div>
</section>
<!--

<div class="modal fade" id="benevoles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Nous sommes à la recherche de bénévoles</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="parents" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte pour les parents</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="partenaires" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte pour les partenaires</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="english" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte en anglais</div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103444020-1', 'auto');
  ga('send', 'pageview');

</script>

