<%= video_tag "island.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>

<div id="home-page">
  <%= render 'shared/banner' %>


  <!--  sort list of products -->


  <!--  How it work -->



  <!--  Image comminuty -->


  <!-- Section become a seller -->
</div>

<script>
$(window).scroll(function() {
    if ($(".navbar").offset().top > 50) {
        $('#custom-nav').addClass('affix');
        $(".navbar-fixed-top").addClass("top-nav-collapse");
        $('.navbar-brand img').attr('src','newImage.jpg'); //change src
    } else {
        $('#custom-nav').removeClass('affix');
        $(".navbar-fixed-top").removeClass("top-nav-collapse");
        $('.navbar-brand img').attr('src','OldImage.jpg')
    }
});
</script>
