.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 70px;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}

.banner h3 {
  font-family: 'Varela Round', sans-serif;
}

.img-fille {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
}

.logo-grand {
  margin-bottom: 50px;
}

.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.inscription {
  margin-left: 100px;
}
