.navbar {
    background-color: #2ce5bc;
}

.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 55px;
  border-radius: 50%;
}

nav {
  background-color: #2ce5bc;
  height: 70px;
  z-index: 99;
}

.hover-avatar {
  align-items: center;
}

nav ul a {
    color: rgba(0,0,0, 0.5);
    padding: 3px 50px 3px 50px;
}
nav ul li:hover{

}

.login {
  background-color: rgba(216, 154, 225, 0.8);
}

.hoverwhite:hover {
  background-color: rgba(216, 154, 225, 0.8);
  a {
    color: rgba(255, 255, 255, 0.9);
  }
}

nav .brand-logo {
  color: rgba(255,255,255, 0.9);
  padding-top: 3px;
  padding-left: 60px;
  font-family: 'Damion', cursive;
  font-size: 45px;
}

#dropdown1 {
  position: absolute !important;
  top: 64px !important;
  left: 1526px!important;
  color: rgba(216, 154, 225, 0.8);
}

.dropdown-content li > a, .dropdown-content li > span {
  padding: 14px 7px;
  color: rgba(216, 154, 225, 0.8);
}

a.dropdown-button {
    height: 70px;
    overflow: hidden;
    vertical-align: center;
}
