@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

.promotion {
font-family: 'Quicksand', sans-serif;
padding-top: 30px;
padding-bottom: 30px;
}

.promotion p {
  font-size: 18px;
  padding-right: 20px;
  padding-left: 20px;
}

.promotion .icon-block h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.icone-promotion {
height: 100px;
}

